<form class="d-flex mt-4" role="search" [formGroup]="searchForm">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search by the title"
          aria-label="Search"
          formControlName="searchTerm"
        />

</form>

<div class="card mt-5">
  <h5 class="card-header">Search Result</h5>

  @if(isCompleted() && filteredBooks().length == 0) {
  <div class="alert alert-info mt-3">
    <strong>No books found.</strong>
  </div>
  } @else {
  <table class="table table-light table-striped mt-3">
    <thead>
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Year</th>
        <th scope="col">Genre</th>
        <th scope="col">Buttons</th>
      </tr>
    </thead>
    <tbody>
      @for (book of filteredBooks(); track $index) {
      <tr class="align-middle">
        <!-- <th scope="row">1</th> -->
        <td>
          <img
            [src]="book.imageUrl"
            alt="{{ book.title }} cover"
            (error)="onImageError($event)"
            class="book-thumbnail"
            width="60"
            height="90"
          />
        </td>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.year }}</td>
        <td>{{ book.genre }}</td>
        <td>
          <button
            class="btn btn-primary btn-sm m-1"
            [routerLink]="['/books/edit', book.id]"
          >
            Edit
          </button>
          <button class="btn btn-danger btn-sm" (click)="onDelete(book.id)">Delete</button>
        </td>
      </tr>
      }
    </tbody>
    <tfoot>
      <tr>
        <td colspan="6">
          The search returned <strong>{{ filteredBooks().length }}</strong> book{{
            filteredBooks().length > 1 ? "s" : ""
          }}.
        </td>
      </tr>
    </tfoot>
  </table>
  }
</div>
