<div class="card mt-5">
  <h5 class="card-header">Edit Book Details</h5>
  <div class="card-body">
    @if(message()){
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
      <strong> {{ message() }}</strong>
      <button
        (click)="message.set('')"
        type="button"
        class="btn-close"
        aria-label="Close"
      ></button>
    </div>
    }

    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label class="form-label"> Book Title </label>
        <input
          type="text"
          class="form-control"
          formControlName="title"
          placeholder="Enter title"
        />
        @if(editForm.get('title')?.touched && editForm.get('title')?.invalid) {
        <div class="text-danger">
          The title should have at least 3 characters.
        </div>
        }
      </div>

      <div class="mb-3">
        <label class="form-label"> Author </label>
        <input
          type="text"
          class="form-control"
          formControlName="author"
          placeholder="Enter author"
        />
        @if(editForm.get('author')?.touched && editForm.get('author')?.invalid)
        {
        <div class="text-danger">
          Author is required and should have at least 6 characters.
        </div>
        }
      </div>

      <div class="mb-3">
        <label class="form-label"> Year </label>
        <input
          type="number"
          class="form-control"
          formControlName="year"
          placeholder="Enter publication year"
        />
        @if(editForm.get('year')?.touched && editForm.get('year')?.invalid) {
        <div class="text-danger">A valid year is required.</div>
        }
      </div>

      <div class="mb-3">
        <label class="form-label"> Genre </label>
        <input
          type="text"
          class="form-control"
          formControlName="genre"
          placeholder="Enter genre"
        />
        @if(editForm.get('genre')?.touched && editForm.get('genre')?.invalid) {
        <div class="text-danger">Genre is required.</div>
        }
      </div>

      <div class="mb-3">
        <label class="form-label"> Image URL </label>
        <input
          type="text"
          class="form-control"
          formControlName="imageUrl"
          placeholder="Enter image URL"
        />
      </div>

      <div class="row">
        <div class="col-md-12">
          <button
            type="button"
            type="submit"
            class="btn btn-secondary"
            [disabled]="editForm.invalid"
          >
            <b>Save Book</b>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
